@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;800&family=Sofia+Sans+Semi+Condensed:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;

  /* background: hsl(217, 19%, 24%);
  /* background: hsl(217, 19%, 38%); */
  /* border: 1px solid red; */
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: hsl(218, 23%, 16%);
}

.container {
  width: 520px;
  height: 300px;
}

.content {
  background: hsl(217, 19%, 24%);
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  color: hsl(193, 38%, 86%);
  border-radius: 15px;
}

.heading {
  margin-top: 15px;
}

.heading h1 {
  color: hsl(150, 100%, 66%);
  font-size: 0.6em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}

.paragraph {
  margin-top: 30px;
  /* margin-top: 10px; */
  /* margin-bottom: 30px; */
  /* border: 1px solid red; */
  display: flex;

  height: 150px;
  /* width: 400px; */
  overflow: hidden;
}

.paragraph p {
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  /* border: 1px solid red; */
  max-width: 100%;
  /* font-size: 28px; */
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 25px;
}

.svg-1 {
  text-align: center;
  margin-top: -15px;
}

.svg-2 {
  position: fixed;
  /* margin-top: 20px; */
  background: hsl(150, 100%, 66%);
  padding: 12px 14px 8px 14px;
  border-radius: 50%;
  /* z-index: 30; */

  margin-top: -25px;
  margin-left: 235px;
  cursor: pointer;
}

.svg-2:hover {
  box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    height: 39%;
  }
  .mobile {
    /* text-align: center;
    margin-top: -65px; */
    margin-bottom: 20px;
  }

  .svg-1 svg {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 300px; */
    /* width: 70%; */
    text-align: center;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .svg-2 {
    margin-top: -25px;
    margin-left: 40%;
    cursor: pointer;
  }

  .content {
    display: flex;
    align-items: center;
    justify-self: center;
  }
}
